Benchmarks/TransUnion/Solution/Tu.Server/Service References/Services/RulesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20168/RulesService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Tu.Rules" />
  <xs:element name="IsValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldValue" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tu.Rules" minOccurs="0" name="IsValidResult" nillable="true" type="q1:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>