Dev/Dev2.Runtime.Tests/XML/Bug9519_4.xml

<?xml version="1.0" encoding="UTF-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
    <types>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:element name="STFC_CONNECTION">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="REQUTEXT">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="STFC_CONNECTION.Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ECHOTEXT">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RESPTEXT">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:length value="255" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="STFC_CONNECTIONInput">
        <part name="parameters" element="s0:STFC_CONNECTION" />
    </message>
    <message name="STFC_CONNECTIONOutput">
        <part name="parameters" element="s0:STFC_CONNECTION.Response" />
    </message>
    <portType name="STFC_CONNECTIONPortType">
        <operation name="STFC_CONNECTION">
            <input message="s0:STFC_CONNECTIONInput" />
            <output message="s0:STFC_CONNECTIONOutput" />
        </operation>
    </portType>
    <binding name="STFC_CONNECTIONBinding" type="s0:STFC_CONNECTIONPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="STFC_CONNECTION">
            <soap:operation soapAction="http://www.sap.com/STFC_CONNECTION" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="STFC_CONNECTIONService">
        <documentation>SAP Service STFC_CONNECTION via SOAP</documentation>
        <port name="STFC_CONNECTIONPortType" binding="s0:STFC_CONNECTIONBinding">
            <soap:address location="http://binmain:8080/sap/bc/soap/rfc" />
        </port>
    </service>
</definitions>