Dev/Infragistics.WPF4/Schedule/Service References/WcfListConnectorServiceWpf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" />
  <xs:element name="GetInitialInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="context" nillable="true" type="q1:GetInitialInfoContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitialInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="GetInitialInfoResult" nillable="true" type="q2:GetInitialInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformActivityOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="context" nillable="true" type="q3:PerformActivityOperationContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformActivityOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="PerformActivityOperationResult" nillable="true" type="q4:PerformActivityOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PollForItemSourceChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="context" nillable="true" type="q5:PollForItemSourceChangesContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollForItemSourceChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="PollForItemSourceChangesResult" nillable="true" type="q6:PollForItemSourceChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollForItemSourceChangesDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="context" nillable="true" type="q7:PollForItemSourceChangesDetailedContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollForItemSourceChangesDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="PollForItemSourceChangesDetailedResult" nillable="true" type="q8:PollForItemSourceChangesDetailedResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="context" nillable="true" type="q9:QueryActivitiesContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" minOccurs="0" name="QueryActivitiesResult" nillable="true" type="q10:QueryActivitiesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>