Dev/Infragistics.WPF4/Schedule/Service References/WcfListConnectorServiceWpf/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfListConnectorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IWcfListConnectorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Infragistics.Services.Schedules" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Infragistics.Controls.Schedules.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfListConnectorService_GetInitialInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialInfo" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_GetInitialInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PerformActivityOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformActivityOperation" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PerformActivityOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformActivityOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PollForItemSourceChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:PollForItemSourceChanges" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PollForItemSourceChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:PollForItemSourceChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PollForItemSourceChangesDetailed_InputMessage">
    <wsdl:part name="parameters" element="tns:PollForItemSourceChangesDetailed" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_PollForItemSourceChangesDetailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:PollForItemSourceChangesDetailedResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_QueryActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryActivities" />
  </wsdl:message>
  <wsdl:message name="IWcfListConnectorService_QueryActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryActivitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfListConnectorService">
    <wsdl:operation name="GetInitialInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/GetInitialInfo" message="tns:IWcfListConnectorService_GetInitialInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/GetInitialInfoResponse" message="tns:IWcfListConnectorService_GetInitialInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformActivityOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/PerformActivityOperation" message="tns:IWcfListConnectorService_PerformActivityOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/PerformActivityOperationResponse" message="tns:IWcfListConnectorService_PerformActivityOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/Ping" message="tns:IWcfListConnectorService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/PingResponse" message="tns:IWcfListConnectorService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PollForItemSourceChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChanges" message="tns:IWcfListConnectorService_PollForItemSourceChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChangesResponse" message="tns:IWcfListConnectorService_PollForItemSourceChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PollForItemSourceChangesDetailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChangesDetailed" message="tns:IWcfListConnectorService_PollForItemSourceChangesDetailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChangesDetailedResponse" message="tns:IWcfListConnectorService_PollForItemSourceChangesDetailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfListConnectorService/QueryActivities" message="tns:IWcfListConnectorService_QueryActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfListConnectorService/QueryActivitiesResponse" message="tns:IWcfListConnectorService_QueryActivities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IWcfListConnectorService" type="tns:IWcfListConnectorService">
    <wsp:PolicyReference URI="#CustomBinding_IWcfListConnectorService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitialInfo">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/GetInitialInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformActivityOperation">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/PerformActivityOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PollForItemSourceChanges">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PollForItemSourceChangesDetailed">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/PollForItemSourceChangesDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryActivities">
      <soap12:operation soapAction="http://tempuri.org/IWcfListConnectorService/QueryActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfListConnectorService">
    <wsdl:port name="CustomBinding_IWcfListConnectorService" binding="tns:CustomBinding_IWcfListConnectorService">
      <soap12:address location="http://localhost:8732/Design_Time_Addresses/WcfListConnectorService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/Design_Time_Addresses/WcfListConnectorService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>