Dev/Infragistics.WPF4/Schedule/Service References/WcfListConnectorServiceWpf/System.Windows.Media.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Color">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="B" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="G" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="R" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScA" type="xs:float" />
      <xs:element minOccurs="0" name="ScB" type="xs:float" />
      <xs:element minOccurs="0" name="ScG" type="xs:float" />
      <xs:element minOccurs="0" name="ScR" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
</xs:schema>